<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.brandon.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PersonalInformationServlet</servlet-name>
  	<servlet-class>com.brandon.PersonalInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PersonalInformationServlet</servlet-name>
  	<url-pattern>/personalInfo/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>searchServlet</servlet-name>
  	<servlet-class>com.brandon.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>searchServlet</servlet-name>
  	<url-pattern>/search/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AccountServlet</servlet-name>
  	<servlet-class>com.brandon.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountServlet</servlet-name>
  	<url-pattern>/accounts/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExpenseServlet</servlet-name>
  	<servlet-class>com.brandon.ExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExpenseServlet</servlet-name>
  	<url-pattern>/expenses/*</url-pattern>
  </servlet-mapping>
  <display-name>Website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>